@import "tailwindcss";
@import "@fontsource-variable/inter";

@theme {
  --color-background: #0d0f12;
  --color-card: #181b20;
  --color-card-hover: #20242a;
  --color-border: #2b3037;
  --color-muted: #9298a1;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #0d0f12;
  color: white;
  font-family: "Inter Variable", sans-serif;
}

* {
  box-sizing: border-box;
}